@keyframes transitionIn {
    from{
        opacity 0;
        transition: rotateX(-10deg)
    }
    to{
        opacity 1;
        transition: rotateX(0)
    }
}
body{
    background:url(bgnew.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.head{
    margin-top:13%;
    margin-left:15%;
    color: blanchedalmond;
    font-size:70px;
    animation: transitionIn 2s;
    overflow:hidden;
}
.text{
    font-size:60px;
    color:blanchedalmond;
    text-indent: 10em;
    margin-top:35%;
    margin-left:15%;
    overflow:hidden;
}
.navbar {
    background-color:transparent;
    font-family: monospace;
    overflow:hidden;
}
.navbar a{
    margin-left: 50%;
    float: right;
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    overflow:hidden;
}
.navbar a:hover {
    background-color: transparent;
    color: blanchedalmond;
    overflow:hidden;
}
.active {
    background-color:transparent;
    overflow:hidden;
}
.startnow{
    text-align: center;
    margin-top:50%;
    overflow:hidden;
}
button{
    text-align: center;
    background-color: orange;
    border-radius:5px;
    color: white;
    padding: 2% 5%;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 1s;
    overflow:hidden;
    
}
button div,
button:hover{
    float: center;
    padding: 2rem;
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
    font-size: 1.5rem;
    transition-property: all;
    
    transition: 1.25s ease-in, 1s ease-out; 
    overflow:hidden;
    
}
footer{
    color:blanchedalmond;
}
.foot{
    margin-top: 19%
}
