@media screen and (min-device-width:10px) and (max-device-width:5500px) {
    
}
body{
    background:url(bgnew.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: blanchedalmond;
    font-size:70px;
    transition-property: all;
    transition-duration: 1.75s;
}
.tdheight{
    height:100px;
}
.tdheight2{
    height:800px;
}
.tdheight3{
    height:600px;
}
.tdheight4{
    height:250px;
}
.tdwidth{
    width:100px;
}
.tdwidth2{
    margin-right:200px;
}
.tdwidth3{
    width:100%;
}
.height{
    width:100%;
    text-align:center;
}
.text2{
    font-size:60px;
    color:blanchedalmond;
    margin-left:600px;
}
.navbar {
    width: 100%;
    background-color:transparent;
    font-family: monospace;
}
.navbar a{
    float: right;
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a:hover {
    background-color: transparent;
    color: blanchedalmond;
}

.active {
    background-color:transparent;
}
button{
    text-align: center;
    background-color: orange;
    border-radius:5px;
    color: ;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.5s;
}
.startnow{
    text-align: center;
    width: 100%;
}
button div,
button:hover{
    float: center;
    padding: 2rem;
    background-color: blanchedalmond;
    text-decoration: none;
    font-size: 1.2rem;
    transition-property: all;
    transition:  300px;
    transition: 1.25s ease-in, 1s ease-out; 
}


@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}
@media screen and (min-device-width:10px) and (max-device-width:5500px) {
}