@keyframes transitionIn {
    from{
        opacity 0;
        transition: rotateX(-10deg)
    }
    to{
        opacity 1;
        transition: rotateX(0)
    }
}
body{
    background: url(bgnew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.head{
    margin-top:23%;
    margin-left:15%;
    color: blanchedalmond;
    font-size:70px;
    animation: transitionIn 2s;
}
.text{
    font-size:60px;
    color:blanchedalmond;
    text-indent: 10em;
    margin-top:46%;
    margin-left:15%;
}
.navbar {
    background-color:transparent;
    font-family: monospace;
}
.navbar a{
    margin-left: 50%;
    float: right;
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.navbar a:hover {
    background-color: transparent;
    color: blanchedalmond;
}
.active {
    background-color:transparent;
}
.startnow{
    text-align: center;
    margin-top:42%;
}
button{
    text-align: center;
    background-color: orange;
    border-radius:15px;
    color: white;
    padding: 2% 5%;
    text-align: center;
    font-size: 25px;
    margin: 1px 1px;
    opacity: 0.7;
    transition: 1s;
}
button div,
button:hover{
    float: left(10%);
    padding: 2rem;
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
    font-size: 3.2rem;
    transition-property: all;
    transition: 1.25s ease-in, 1s ease-out; 
}
footer{
    color:blanchedalmond;
}
.foot{
    margin-top: 19%
}
.login{
    margin-left:1%;
}
