@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:20px;
}
#one{
    width:220px;
}
#two{
    width:360px;
}
#three{
    width:320px;
}
#four{
    width:80px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:80px;   
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:45px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:22px;
}
#one{
    width:230px;
}
#two{
    width:390px;
}
#three{
    width:345px;
    }
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
    }
#one{
    width:200px;
}
#two{
    width:330px;
}
#three{
    width:300px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
}
#one{
    width:220px;
}
#two{
    width:350px;
}
#three{
    width:310px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#one{
    width:240px;
}
#two{
    width:410px;
}
#three{
    width:360px;
}
#four{
    width:75px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:24px;
}
#one{
    width:270px;
}
#two{
    width:450px;
}
#three{
    width:400px;
}
#four{
    width:80px;   
    }
#five{
    width:1290px; 
    }
#six{
     width:80px;   
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:65px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:350px;
}
#two{
    width:520px;
    }
#three{
    width:460px;
}
#four{
    width:85px;   
    }
#five{
    width:1280px; 
    }
#six{
     width:85px;   
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:65px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:350px;
}
#two{
    width:520px;
    }
#three{
    width:460px;
}
#four{
    width:90px;   
    }
#five{
    width:1450px; 
    }
#six{
     width:90px;   
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:120px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:41px;
}
#one{
    width:450px;
}
#two{
    width:750px;
}
#three{
    width:660px;
}
#four{
    width:100px;   
    }
#five{
    width:1600px; 
    }
#six{
     width:100px;   
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:120px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:41px;
}
#one{
    width:450px;
}
#two{
    width:750px;
}
#three{
    width:660px;
}
#four{
    width:120px;   
    }
#five{
    width:1800px; 
    }
#six{
     width:120px;   
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:110px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:45px;
}
#one{
    width:550px;
}
#two{
    width:880px;
}
#three{
    width:780px;
}
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:130px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:55px;
}
#one{
    width:650px;
}
#two{
    width:1040px;
}
#three{
    width:920px;
}
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:180px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:62px;
}
#one{
    width:750px;
}
#two{
    width:1110px;
}
#three{
    width:990px;
}
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:210px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:85px;
}
#one{
    width:900px;
}
#two{
    width:1470px;
}
#three{
    width:1300px;
}
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:220px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:95px;
}
#one{
    width:1005px;
}
#two{
    width:1740px;
}
#three{
    width:1530px;
}
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(finlandfon.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:280px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:110px;
}
#one{
    width:1150px;
}
#two{
    width:2130px;
}
#three{
    width:1850px;
}
#four{
    width:300px;   
    }
#five{
    width:4400px; 
    }
#six{
     width:300px;   
    }
    }