@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-family:55px;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:700px;
    font-size:30px;
}
img{
    width:70px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-family:50px;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:600px;
    font-size:25px;
}
img{
    width:50px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:40px;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:600px;
    font-size:20px;
}
img{
    width:50px;
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:40px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:600px;
    font-size:20px;
}
img{
    width:45px;
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:45px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:500px;
    font-size:30px;
}
img{
    width:60px;
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:60px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:550px;
    width:850px;
    font-size:25px;
}
img{
    width:70px;
    }
a:link{
        text-decoration:underline;
        color:white;
    }
a:active{
        text-decoration:none;
    }
a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:2000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:50px;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:500px;
    font-size:20px;
}
img{
    width:50px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:120px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:1000px;
    width:1900px;
    font-size:60px;
}
img{
    width:130px;
    height:80px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
 a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:140px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:700px;
    font-size:100px;
}
img{
    width:180px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:5000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:200px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    height:700px;
    font-size:100px;
}
img{
    width:250px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}
