@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
        text-align:center;
    }
    h2{
     }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:230px;
        height:120px;
    }
    #four{
        width:890px;
    }
    #five{
        width:1000px;
    }
    #six{
        height:10px;
        width:20px;
    }
    #seven{
        font-size:12px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
        text-align:center;
    }
    h2{
        
    }
    table{
        margin-left:auto;
        margin-right:auto;
        font-size:20px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:240px;
    }
    #four{
        width:890px;
    }
    #five{
        width:1000px;
    }
    #six{
        height:10px;
        width:20px;
    }
    #seven{
        font-size:10px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
   body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:2000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:5000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}