@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:35px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:900px;
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:35px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:900px;
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:35px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:900px;
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:35px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:900px;
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:40px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:1000px;
    }
#two{
     width:800px;   
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:45px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:1250px;
    }
#two{
     width:800px;   
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:1300px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:180px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:50x;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:1600px;
    }
#two{
     width:1200px;   
    }
button{
    font-size:28px;
    width:180px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:55px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:1790px;
    }
#two{
     width:800px;   
    }
button{
    font-size:20px;
    width:136px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
    width:200px;   
    }
table{
    font-size:40px;
    text-align:center;
}
h1{
    font-size:65px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:1950px;
    }
#two{
    width:1200px;   
    }
button{
    font-size:24px;
    width:156px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:230px;   
    }
table{
    font-size:40px;
    text-align:center;
}
h1{
    font-size:75px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:2400px;
    }
#two{
     width:800px;   
    }
button{
    font-size:28px;
    width:186px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:75%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:250px;   
    }
table{
    font-size:45px;
    text-align:center;
}
h1{
    font-size:85px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:2900px;
    }
#two{
     width:800px;   
    }
button{
    font-size:30px;
    width:196px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:350px;   
    }
table{
    font-size:60px;
    text-align:center;
}
h1{
    font-size:115px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:3450px;
    }
#two{
     width:800px;   
    }
button{
    font-size:48px;
    width:299px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:450px;   
    }
table{
    font-size:75px;
    text-align:center;
}
h1{
    font-size:135px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:3900px;
    }
#two{
     width:2500px;   
    }
button{
    font-size:55px;
    width:356px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:450px;   
    }
table{
    font-size:80px;
    text-align:center;
}
h1{
    font-size:130px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:3900px;
    }
#two{
     width:2800px;   
    }
button{
    font-size:58px;
    width:516px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:550px;   
    }
table{
    font-size:90px;
    text-align:center;
}
h1{
    font-size:145px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:4500px;
    }
#two{
     width:2900px;   
    }
button{
    font-size:58px;
    width:416px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:5001px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:150px;   
    }
table{
    font-size:30px;
    text-align:center;
}
h1{
    font-size:35px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:900px;
    }
#two{
     width:800px;   
    }
button{
    font-size:18px;
    width:116px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:550px;   
    }
table{
    font-size:100px;
    text-align:center;
}
h1{
    font-size:165px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:4900px;
    }
#two{
     width:4000px;   
    }
button{
    font-size:60px;
    width:416px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

@media screen and (min-device-width:5501px) and (max-device-width:6000px) {
    table{width:90%}
body{
    background:url(mainbackground.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
    font-size:46px;
    color:white;
}
img{
     width:550px;   
    }
table{
    font-size:90px;
    text-align:center;
}
h1{
    font-size:155px;
    text-align:center;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
#one{
    width:4900px;
    }
#two{
     width:3800px;   
    }
button{
    font-size:60px;
    width:416px;
    }
a:link{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
    color:white;
}
}

