@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png); 
        background-repeat:repeat;
        text-align:center;
        }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat:repeat;
        text-align:center;
    }
   table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
   body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
    }

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:50px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:490px;
        height:700px;
        font-size:15px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:55px;
    }
    }

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:50px;  
    }
    h3{
        font-size:22px;
    }
    #one{
        width:600px;
        height:450px;
        font-size:19px;
    }
    #two{
        width:1300px;
    }
    #six{
        width:60px;
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
     body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png); 
        background-repeat:repeat;
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:50px;  
    }
    h3{
        font-size:24px;
    }
    #one{
        width:650px;
        height:400px;
        font-size:20px;
    }
    #two{
        width:1400px;
    }
    #six{
        width:70px;
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:57px;  
    }
    h3{
        font-size:27px;
    }
    #one{
        width:650px;
        height:650px;
        font-size:22px;
    }
    #two{
        width:1500px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:67px;  
    }
    h3{
        font-size:32px;
    }
    #one{
        width:750px;
        height:700px;
        font-size:25px;
    }
    #two{
        width:1800px;
    }
    #six{
        width:70px;
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:70px;  
    }
    h3{
        font-size:32px;
    }
    #one{
        width:850px;
        height:400px;
        font-size:27px;
    }
    #two{
        width:1900px;
    }
    #six{
        width:70px;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png) top repeat fixed;  
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-size:47px;  
    }
    h3{
        font-size:19px;
    }
    #one{
        width:450px;
        height:400px;
        font-size:14px;
    }
    #two{
        width:1000px;
    }
    #six{
        width:50px;
    }
}