@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:70%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}
    
@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1026px) and (max-device-width:1150px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1151px) and (max-device-width:1299px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1300px) and (max-device-width:1400px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1401px) and (max-device-width:1500px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat: no-repeat;
    background-size:60%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1501px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:2200px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2201px) and (max-device-width:2500px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2501px) and (max-device-width:2700px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2701px) and (max-device-width:3000px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3501px) and (max-device-width:3700px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3701px) and (max-device-width:4000px) {
    table{width:90%}
 body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
     background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5501px) and (max-device-width:5700px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5701px) and (max-device-width:6000px) {
    table{width:90%}
body{
    background:url(macfon.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}