@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat: no-repeat;
    background-size:70%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
img{
     width:380px;   
    }
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:70%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
img{
        width:400px;
    }
#one{
    width:56px;
    margin-left:-900px;
}
img{
     width:400px;   
    }
#two{
       height:600px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}
    
@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:70%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
img{
     width:430px;   
    }
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:70%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
img{
     width:400px;   
    }
#one{
    width:56px;
    margin-left:-900px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:50px;
    }
table{
    font-size:30px;
}
    img{
        width:400px;
    }
#one{
    width:50px;
    margin-left:-900px;
}
#two{
       height:531px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1026px) and (max-device-width:1150px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
    font-size:50px;
    }
table{
    font-size:35px;
}
    img{
        width:400px;
    }
#one{
    width:56px;
    margin-left:-980px;
}
#two{
       height:548px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1151px) and (max-device-width:1299px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:55px;
    }
table{
    font-size:35px;
}
img{
      width:500px;  
    }
#one{
    width:60px;
    margin-left:-1100px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1300px) and (max-device-width:1400px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
h1{
      font-size:50px;  
    }
table{
    font-size:35px;
}
img{
     width:400px;   
    }
#one{
    width:56px;
    margin-left:-1260px;
}
#two{
       height:700px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1401px) and (max-device-width:1500px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat: no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
table{
    font-size:35px;
}
img{
        width:600px;
    }
#one{
    width:60px;
    margin-left:-1350px;
}
#two{
       height:744px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1501px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
     font-size:65px;   
    }
table{
    font-size:40px;
}
    img{
        width:600px;
    }
#one{
    width:60px;
    margin-left:-1400px;
}
#two{
       height:808px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:60px;
    }
table{
    font-size:45px;
}
    img{
      width:700px;  
    }
#one{
    width:66px;
    margin-left:-1540px;
}
#two{
       height:940px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
      font-size:80px;  
    }
table{
    font-size:50px;
}
    img{
        width:690px;
    }
#one{
    width:86px;
    margin-left:-1700px;
}
#two{
       height:999px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:2200px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:85px;
    }
table{
    font-size:60px;
}
    img{
        width:700px;
    }
#one{
    width:76px;
    margin-left:-1900px;
}
#two{
       height:1170px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2201px) and (max-device-width:2500px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
h1{
    font-size:90px;  
    }
table{
    font-size:55px;
}
    img{
        width:800px;
    }
#one{
    width:90px;
    margin-left:-2100px;
}
#two{
       height:1346px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2501px) and (max-device-width:2700px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:120px;
    }
table{
    font-size:60px;
}
    img{
        width:850px;
    }
#one{
    width:106px;
    margin-left:-2400px;
}
#two{
       height:1510px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:2701px) and (max-device-width:3000px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
      font-size:100px;  
    }
table{
    font-size:65px;
}
    img{
        width:900px;
    }
#one{
    width:106px;
    margin-left:-2600px;
}
#two{
       height:1590px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:150px;
    }
table{
    font-size:75px;
}
img{
    width:1100px;
    }
#one{
    width:106px;
    margin-left:-2900px;
}
#two{
       height:1990px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3501px) and (max-device-width:3700px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
       font-size:150px; 
    }
table{
    font-size:90px;
}
    img{
        width:1100px;
    }
#one{
    width:120px;
    margin-left:-3400px;
}
#two{
       height:2050px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:3701px) and (max-device-width:4000px) {
    table{width:90%}
 body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
     background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:160px;
    }
table{
    font-size:95px;
}
    img{
        width:1200px;
    }
#one{
    width:146px;
    margin-left:-3550px;
}
#two{
       height:2950px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:160px;
    }
table{
    font-size:100px;
}
    img{
        width:1200px;
    }
#one{
    width:166px;
    margin-left:-3800px;
}
#two{
       height:2100px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
    h1{
        font-size:200px;
    }
    img{
        width:1400px;
    }
table{
    font-size:110px;
}
#one{
    width:160px;
    margin-left:-4350px;
}
#two{
       height:2600px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
h1{
     font-size:200px;   
    }
table{
    font-size:125px;
}
img{
     width:1490px;   
    }
#one{
    width:226px;
    margin-left:-4800px;
}
#two{
       height:2800px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5501px) and (max-device-width:5700px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
h1{
     font-size:240px;   
    }
table{
    font-size:135px;
}
img{
     width:1600px;   
    }
#one{
    width:236px;
    margin-left:-5200px;
}
#two{
       height:3100px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}

@media screen and (min-device-width:5701px) and (max-device-width:6000px) {
    table{width:90%}
body{
    background:url(lenovofon2.jpeg);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center top;
    font-family:arial;
    text-align:center;
    font-size:27px;
}
h1{
   font-size:240px;     
    }
table{
    font-size:135px;
}
img{
     width:1600px;   
    }
    
#one{
    width:256px;
    margin-left:-5600px;
}
#two{
       height:3300px; 
    }
.center{
    margin-left:auto;
    margin-right:auto;
}
a:link{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a:visited{
    text-decoration:underline;
}
}