@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-family:55px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
}
#one{
    width:70px;
}
#two{
    margin-right:50px;
}
button{
    width:;
    height:auto;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-family:50px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:25px;
}
#one{
    width:60px;    
    }
#two{
     margin-right:70px;   
    }
button{
    width:90px; 
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:40px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
}
#one{
    width:70px;    
    }
#two{
    margin-right:100px;    
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:40px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
}
#one{
    width:60px;   
    }
#two{
     margin-right:100px;   
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:45px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:27px;
}
#one{
    width:60px;
    }
#two{
    margin-right:90px;   
    }
button{
       
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
    }
    a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    font-size:60px;
    text-align:center;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:25px;
}
#one{
    width:70px;
    }
#two{
    margin-right:80px;   
    }
button{
    width:130px; 
    height:40px;
    font-size:20px;
    }
a:link{
        text-decoration:underline;
        color:white;
    }
a:active{
        text-decoration:none;
    }
a:visited{
        text-decoration:underline;
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:60px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
}
#one{
    width:80px;
    }
#two{
    margin-right:150px;
    }
button{
    width:150px;
    height:50px;
    font-size:24px;
    }
.child{
    background-color:grey;
    height:100%;
    width:100%;
    transition: transform;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:60px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
}
#one{
    width:80px;
    }
#two{
    margin-right:150px;
    }
button{
    width:150px;
    height:50px;
    font-size:24px;
    }
.child{
    background-color:grey;
    height:100%;
    width:100%;
    transition: transform;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:70px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:45px;
}
#one{
    width:120px;
    }
#two{
    margin-right:150px;
    }
button{
    width:160px; 
    font-size:30px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:70px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:45px;
}
#one{
    width:120px;
    }
#two{
    margin-right:150px;
    }
button{
    width:190px; 
    font-size:30px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:70px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:45px;
}
#one{
    width:100px;
    }
#two{
    margin-right:450px;
    }
button{
    width:190px; 
    font-size:30px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:90px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:65px;
}
#one{
    width:140px;
    }
#two{
    margin-right:700px;
    }
button{
    width:250px; 
    font-size:40px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:120px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:75px;
}
#one{
    width:150px;
    }
#two{
    margin-right:450px;
    }
button{
    width:300px; 
    font-size:50px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:130px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:65px;
}
#one{
    width:210px;
    }
#two{
    margin-right:850px;
    }
button{
    width:400px; 
    font-size:65px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:130px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:65px;
}
#height{
        height:1400px;
    }
#one{
    width:200px;
    }
#two{
    margin-right:450px;
    }
button{
    width:390px; 
    font-size:60px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
    body{
    background:url(international.jpg) top fixed;
    background-size:100%;
    font-family:arial;
    color:white
}
h1{
    text-align:center;
    font-size:140px;
}
table{
    margin-left:auto;
    margin-right:auto;
    font-size:65px;
}
#height{
    height:1400px;
    }
#one{
    width:250px;
    }
#two{
    margin-right:650px;
    }
button{
    width:490px; 
    font-size:70px;
    }
a:link{
    text-decoration:underline;
    color:white;
    }
a:active{
    text-decoration:none;
    }
a:visited{
    text-decoration:underline;
    }
}
