body{
    background:url(greecefon.jpg) no-repeat;
    background-size:100%;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}