@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:22px;
}
#one{
    width:220px;
}
#two{
    width:280px;
}
#three{
    width:270px;
}
#four{
    width:80px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:80px;   
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:22px;
}
#one{
    width:230px;
}
#two{
    width:180px;
}
#three{
    width:285px;
    }
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
    }
#one{
    width:230px;
}
#two{
    width:220px;
}
#three{
    width:280px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:21.99px;
}
#one{
    width:240px;
}
#two{
    width:180px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#one{
    width:240px;
}
#two{
    width:200px;
}
#three{
    width:290px;
}
#four{
    width:75px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:65px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:29px;
}
#one{
    width:300px;
}
#two{
    width:280px;
}
#three{
    width:470px;
}
#four{
    width:80px;   
    }
#five{
    width:1290px; 
    }
#six{
     width:80px;   
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:70px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:35px;
}
#one{
    width:370px;
}
#three{
    width:450px;
    }
#four{
    width:85px;   
    }
#five{
    width:1280px; 
    }
#six{
     width:85px;   
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:70px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:35px;
}
#one{
    width:370px;
}
#three{
    width:450px;
}
#four{
    width:90px;   
    }
#five{
    width:1450px; 
    }
#six{
     width:90px;   
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:90px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:40px;
}
#one{
    width:420px;
}
#two{
    width:280px;
}
#three{
    width:600px;
}
#four{
    width:100px;   
    }
#five{
    width:1600px; 
    }
#six{
     width:100px;   
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:90px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:40px;
}
#one{
    width:420px;
}
#two{
    width:280px;
}
#three{
    width:600px;
}
#four{
    width:120px;   
    }
#five{
    width:1800px; 
    }
#six{
     width:120px;   
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:120px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:50px;
}
#one{
    width:500px;
}
#two{
    width:500px;
}
#three{
    width:750px;
}
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:140px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:55px;
}
#one{
    width:650px;
}
#two{
    width:180px;
}
#three{
    width:920px;
}
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:160px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:62px;
}
#one{
    width:750px;
}
#two{
    width:180px;
}
#three{
    width:1060px;
}
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:170px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:80px;
}
#one{
    width:900px;
}
#two{
    width:180px;
}
#three{
    width:1200px;
}
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:200px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:90px;
}
#one{
    width:930px;
}
#two{
    width:180px;
}
#three{
    width:1340px;
}
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(belgiumfon.webp);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:230px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:100px;
}
#one{
    width:1200px;
}
#two{
    width:400px;
}
#three{
    width:1600px;
}
#four{
    width:300px;   
    }
#five{
    width:4400px; 
    }
#six{
     width:300px;   
    }
    }