@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
    #one{
        width:55px;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
     #one{
        width:55px;
    }
}
    
@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1150px) {
    table{width:90%}
 body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:45px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:1151px) and (max-device-width:1299px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:55px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1400px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:60px;
    }
     #one{
        width:55px;
    }
}

@media screen and (min-device-width:1401px) and (max-device-width:1500px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:55px;
    }
     #one{
        width:60px;
    }
}

@media screen and (min-device-width:1501px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:60px;
    }
     #one{
        width:65px;
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:65px;
    }
     #one{
        width:70px;
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
 body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:65px;
    }
     #one{
        width:75px;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2200px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:75px;
    }
     #one{
        width:80px;
    }
}

@media screen and (min-device-width:2201px) and (max-device-width:2500px) {
    table{width:90%}
 body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:80px;
    }
     #one{
        width:90px;
    }
}

@media screen and (min-device-width:2501px) and (max-device-width:2700px) {
    table{width:90%}
 body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:95px;
    }
     #one{
        width:100px;
    }
}

@media screen and (min-device-width:2701px) and (max-device-width:3000px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:95px;
    }
     #one{
        width:120px;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
 body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:105px;
    }
     #one{
        width:125px;
    }
}

@media screen and (min-device-width:3501px) and (max-device-width:3700px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:115px;
    }
     #one{
        width:145px;
    }
}

@media screen and (min-device-width:3701px) and (max-device-width:4000px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:120px;
    }
     #one{
        width:145px; 
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:130px;
    }
     #one{
        width:155px;
    }
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:150px;
    }
     #one{
        width:155px; 
    }
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:165px;
    }
     #one{
        width:180px;
    }
}

@media screen and (min-device-width:5501px) and (max-device-width:5700px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:185px;
    }
     #one{
       width:200px; 
    }
}

@media screen and (min-device-width:5701px) and (max-device-width:6000px) {
    table{width:90%}
body{
    background:url(error.png);
    background-size:100%;
    background-position: ;
    background-repeat: repeat;
    color:white;
    font-family:arial;
    }
    h1{
        text-align:center;
        font-size:180px;
    }
     #one{
       width:215px; 
    }
}