@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(BluryFire.png);
    background-repeat:repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:;
}
#one{
   height:160px; 
   width:330px;
    }
#two{
    width:900px;
    }
#three{
    width:460px; 
    height:255px;    
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:;
}
#one{
    height:215px;
    width:380px;  
    }
#two{
    width:900px;
    }
#three{
    width:460px; 
    height:255px;    
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:;
}
#one{
    height:195px;
    width:350px;  
    }
#two{
    width:900px;
    }
#three{
    width:500px; 
    height:275px;    
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:;
}
#one{
    height:175px;
    width:300px;  
    }
#two{
    width:900px;
    }
#three{
    width:500px; 
    height:280px;    
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:18px;
}
#one{
    height:205px;
    width:340px;  
    }
#two{
    width:1000px;
    }
#three{
    width:460px; 
    height:265px;    
    }
video{
    width:450px; 
    height:270px; 
    }
#six{
     width:73px;   
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
}
#six{
     width:80px;   
    }
#one{
    height:225px;
    width:360px;  
    }
#two{
    width:1200px;
    }
#three{
    width:560px; 
    height:315px;    
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
body{
    background-image:url(BluryFire.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#six{
     width:85px;   
    }
#one{
    height:255px;
    width:430px;  
    }
#two{
    width:1900px;
    }
#three{
    width:560px; 
    height:315px;    
    }
video{
    width:550px; 
    height:320px; 
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(BluryFire.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:25px;
    }
#six{
     width:90px;   
    }
#one{
    height:275px;
    width:500px;  
    }
#two{
    width:1500px;
    }
#three{
    width:940px; 
    height:355px;    
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background-image:url(BluryFire.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:60px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    font-size:30px;
}
#six{
     width:100px;   
    }
#one{
    height:299px;
    width:510px;  
    }
#two{ 
    width:1600px;
    }
#three{
    width:700px; 
    height:400px;    
    }
video{
    width:650px; 
    height:400px; 
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(BluryFire.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:75px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:33px;
}
#six{
     width:120px;   
    }
#one{
    height:335px;
    width:600px;  
    }
#two{
    width:1900px;
    }
#three{
    width:680px; 
    height:385px;    
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:90px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:40px;
}
#one{
    height:455px;
    width:750px;  
    }
#two{
    width:2400px;
    }
#three{
    width:560px; 
    height:315px;    
    }
video{
    width:550px; 
    height:320px; 
    }
#six{
     width:150px;   
    }
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:50px;
}
#one{
    height:525px;
    width:890px;  
    }
#two{
    width:2900px;
    }
#three{
    width:560px; 
    height:315px;    
    }
video{
    width:550px; 
    height:320px; 
    }
#six{
     width:150px;   
    }
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat: repeat; 
    font-family:arial;
}
h1{
    text-align:center;
    font-size:130px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    height:605px;
    width:930px;  
    }
#two{
    width:3400px;
    }
#three{
    width:560px; 
    height:315px;    
    }
#six{
     width:140px;   
    }
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:150px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:70px;
}
#one{
    height:685px;
    width:1030px;  
    }
#two{
    width:3900px;
    }
#three{
    width:560px; 
    height:315px;    
    }
#six{
     width:100px;   
    }
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:160px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    font-size:65px;
}
#one{
    height:285px;
    width:430px;  
    }
#two{
    height:300px; 
    width:500px;
    }
#three{
    width:560px; 
    height:315px;    
    }
video{
    width:550px; 
    height:320px; 
    }
#six{
     width:260px;   
    }
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(BluryFire.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:200px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    height:285px;
    width:430px;  
    }
#two{
    height:300px; 
    width:500px;
    }
#three{
    width:560px; 
    height:315px;    
    }
#six{
     width:300px;   
    }
    }