@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:60px;
}
#one{
     width:430px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:200px; 
     margin-top:-300px;
    }
#five{
    width:30px;
    height:15px;
    }
six{
     width:0px;   
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
 }

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:53px;
}
#one{
     width:430px;   
    }
#two{
     width:100px;   
    }
#three{
    width:0px;
     margin-left:370px; 
     margin-top:-350px;
    }
#five{
    width:30px;
    height:15px;
    }
#six{
     width:0px;   
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }
    
@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    }
h1{
    text-align:center;
    font-size:55px;
}
#one{
     width:430px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:400px; 
     margin-top:-350px;
    }
#five{
    width:30px;
    height:15px;
    }
#six{
      width:0px;  
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;                                           
    font-size:60px;
}
#one{
     width:430px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:400px; 
     margin-top:-400px;
    }
#five{
    width:30px;
    height:15px;
    }
#six{
    width:0px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
    background:url(allfon.jpg)no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:65px;
}
#one{
     width:440px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:400px; 
     margin-top:-350px;
    }
#five{
    width:30px;
    height:15px;
    }
#six{
    width:0px;    
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1150px) {
    table{width:90%}
    body{
    background:url(allfon.jpg)no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:70px;
}
#one{
     width:460px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:460px; 
     margin-top:-300px;
    }
#five{
    width:30px;
    height:15px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:1151px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:70px;
    margin-left:100px;
}
#one{
     width:552px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:560px; 
     margin-top:-300px;
    }
#five{
    width:40px;
    height:25px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1400px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    font-size:90px;
    text-align:center;
    margin-left:100px;
}
#one{
     width:590px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:600px; 
     margin-top:-300px;
    }
#five{
    width:45px;
    height:25px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:1401px) and (max-device-width:1500px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:85px;
    margin-left:150px;
}
#one{
     width:629px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:650px; 
     margin-top:-250px;
    }
#five{
    width:50px;
    height:30px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:1501px) and (max-device-width:1600px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:105px;
}
#one{
     width:670px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:700px; 
     margin-top:-220px;
    }
#five{
    width:50px;
    height:32px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:120px;
    margin-left:170px;
}
#one{
     width:740px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:800px; 
     margin-top:-200px;
    }
#five{
    width:52px;
    height:32px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:120px;
    margin-left:170px;
}
#one{
     width:825px;   
    }
#two{
     width:100px;   
    }
#three{
     width:0px;
     margin-left:900px; 
     margin-top:-200px;
    }
#five{
    width:60px;
    height:35px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:2001px) and (max-device-width:2200px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:150px;
    margin-left:130px;
}
#one{
     width:918px;   
    }
#two{
     width:150px;   
    }
#three{
     width:0px;
     margin-left:1100px; 
     margin-top:-250px;
    }
#four{
    margin-top:-60px;
    }
#five{
    width:60px;
    height:35px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:2201px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:150px;
}
#one{
     width:1000px;   
    }
#two{
     width:160px;   
    }
#three{
     width:0px;
     margin-left:1100px; 
     margin-top:-150px;
    }
#five{
    width:65px;
    height:40px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:2501px) and (max-device-width:2700px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:170px;
}
#one{
     width:1120px;   
    }
#two{
     width:200px;   
    }
#three{
     width:0px;
     margin-left:1200px; 
     margin-top:-100px;
    }
#five{
    width:70px;
    height:40px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:2701px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:210px;
}
#one{
     width:1240px;   
    }
#two{
     width:200px;   
    }
#three{
     width:0px;
     margin-left:1150px; 
     margin-top:-50px;
    }
#four{
     margin-top:-80px;
    }
#five{
    width:80px;
    height:50px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:240px;
}
#one{
     width:1550px;   
    }
#two{
     width:150px;   
    }
#three{
     width:0px;
     margin-left:1350px; 
     margin-top:-150px;
    }
#four{
     margin-top:-60px;
    }
#five{
    width:90px;
    height:60px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:3501px) and (max-device-width:3700px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:240px;
}
#one{
     width:1600px;   
    }
#two{
     width:150px;   
    }
#three{
     width:0px;
     margin-left:1600px; 
     margin-top:-150px;
    }
#five{
    width:100px;
    height:60px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
}

@media screen and (min-device-width:3701px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:250px;
}
#one{
     width:1700px;   
    }
#two{
     width:300px;   
    }
#three{
     width:0px;
     margin-left:1700px; 
     margin-top:350px;
    }
#five{
    width:100px;
    height:60px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:270px;
}
#one{
     width:1800px;   
    }
#two{
     width:200px;   
    }
#three{
     width:0px;
     margin-left:1900px; 
     margin-top:50px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:290px;
}
#one{
     width:2000px;   
    }
#two{
     width:300px;   
    }
#three{
     width:0px;
     margin-left:2050px; 
     margin-top:350px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:340px;
}
#one{
     width:2250px;   
    }
#two{
     width:300px;   
    }
#three{
     width:0px;
     margin-left:2200px; 
     margin-top:200px;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:5501px) and (max-device-width:5700px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:390px;
}
#one{
     width:2500px;   
    }
#two{
     width:300px;   
    }
#three{
     width:0px;
     margin-left:2500px; 
     margin-top:850px;
    }
#four{
    margin-top:-90px;
     width:0px;   
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }

@media screen and (min-device-width:5701px) and (max-device-width:6000px) {
    table{width:90%}
    body{
    background:url(allfon.jpg) no-repeat;
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
h1{
    text-align:center;
    font-size:400px;
}
.center{
    margin-left:auto;
    margin-right:auto;
    }
#one{
     width:2500px;   
    }
#two{
     width:300px;   
    }
#three{
     width:0px;
     margin-left:2700px; 
     margin-top:250px;
    }
#four{
     margin-top:-50px;   
    }
#five{
        
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
    }