@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(usafon.jpg) repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:;
}
#one{
    width:130px;
}
#two{
    width:280px;
}
#three{
    width:360px;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(usafon.jpg);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:;
}
#one{
    width:180px;
}
#two{
    width:180px;
}
#three{
    width:360px;
    }
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(usafon.jpg) no-repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:;
}
#one{
    width:130px;
}
#two{
    width:220px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(usafon.jpg) no-repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(usafon.jpg) no-repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
}
#one{
    width:230px;
}
#two{
    width:220px;
}
#three{
    width:460px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(usafon.jpg);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
}
#one{
    width:220px;
}
#two{
    width:280px;
}
#three{
    width:440px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(usafon.jpg);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:60px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:28px;
}
#one{
    width:280px;
}
#two{
    width:340px;
}
#three{
    width:560px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:330px;
}
#two{
    width:400px;
}
#three{
    width:660px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:330px;
}
#two{
    width:400px;
}
#three{
    width:660px;
}
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:150px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:50px;
}
#one{
    width:430px;
}
#two{
    width:700px;
}
#three{
    width:860px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:180px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    width:730px;
}
#two{
    width:680px;
}
#three{
    width:1460px;
}
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(usafon.jpg)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:200px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    width:830px;
}
#two{
    width:880px;
}
#three{
    width:1660px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }