@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:22px;
}
#one{
    width:190px;
}
#two{
    width:280px;
}
#three{
    width:360px;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background-image:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:20px;
}
#one{
    width:200px;
}
#two{
    width:180px;
}
#three{
    width:360px;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(germanyfon.png)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
    }
#one{
    width:175px;
}
#two{
    width:220px;
}
#three{
    width:350px;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#one{
    width:200px;
}
#two{
    width:180px;
}
#three{
    width:330px;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:24px;
}
#one{
    width:200px;
}
#two{
    width:180px;
}
#three{
    width:350px;
}
    }

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:65px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:260px;
}
#two{
    width:280px;
}
#three{
    width:450px;
}
    }

@media screen and (min-device-width:1300px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:80px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:33px;
}
#one{
    width:300px;
}
#three{
    width:400px;
}
}

@media screen and (min-device-width:1601px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(germanyfon.png);
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:95px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:50px;
}
#one{
    width:450px;
}
#two{
    width:280px;
}
#three{
    width:700px;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(germanyfon.png) repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:130px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:50px;
}
#one{
    width:550px;
}
#two{
    width:500px;
}
#three{
    width:850px;
}
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(germanyfon.png);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:170px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    width:550px;
}
#two{
    width:180px;
}
#three{
    width:950px;
}
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(germanyfon.png) repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:160px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    width:550px;
}
#two{
    width:180px;
}
#three{
    width:1160px;
}
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(germanyfon.png)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:170px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:60px;
}
#one{
    width:690px;
}
#two{
    width:180px;
}
#three{
    width:1300px;
}
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(germanyfon.png)repeat top;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:180px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:80px;
}
#one{
    width:730px;
}
#two{
    width:180px;
}
#three{
    width:1400px;
}
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(germanyfon.png)
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:200px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:80px;
}
#one{
    width:850px;
}
#two{
    width:400px;
}
#three{
    width:1450px;
}
    }