@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:40px;
}
img{
    border-color:gray;
    width:500px;
    }
 }

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:30px;
}
img{
    border-color:gray;
    width:480px;
    }
    }
    
@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:40px;
}
img{
    border-color:gray;
    width:300px;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;                                           
    font-size:;
}
img{
    border-color:gray;
    width:330px;
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:30px;
}
img{
    border-color:gray;
    width:510px;
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:;
}
img{
    border-color:gray;
    width:649px;
    }
}

@media screen and (min-device-width:1300px) and (max-device-width:1400px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    font-size:90px;
    text-align:center;
}
img{
    border-radius:3px;
    border-color:gray;
    width:440px;
    }
    }

@media screen and (min-device-width:1401px) and (max-device-width:2000px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:100px;
}
img{
    border-color:gray;
    width:700px;
    }
    }

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:100px;
}
img{
    border-color:gray;
    width:1000px;
    }
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:100px;
}
img{
    border-color:gray;
    width:1240px;
    }
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:110px;
}
img{
    border-color:gray;
    width:1490px;
    }
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:120px;
}
img{
    border-color:gray;
    width:1700px;
    }
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:140px;
}
img{
    border-color:gray;
    width:1990px;
    }
    }

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:200px;
}
img{
    border-radius:3px;
    border-color:gray;
    width:2500px;
    }
    }

@media screen and (min-device-width:5501px) and (max-device-width:6000px) {
    table{width:90%}
    body{
    background:url(2allfon.jpg);
    background-size:100%;
    font-family:Arial;
}
table{
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
    font-size:200px;
}
img{
    border-color:gray;
    width:2700px;
    }
    }