@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat: repeat;
        text-align:center;
        }
    h2{
        font-size:25px;
     }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    p{
        font-size:10px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:40px;
    }
    #two{
        width:1000px;
    }
    #three{
        width:300px;
        height:190px;
    }
    #four{
        width:890px;
    }
    #five{
        width:1000px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:190px;
        width:700px;
    }
    #nine{
        width:0px;
    }
    button{
        width:auto;
        height:auto;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
        text-align:center;
    }
    h2{
        font-size:30px;
    }
    table{
        margin-left:auto;
        margin-right:auto;
        font-size:20px;
    }
    p{
        font-size:12px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:40px;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:220px;
    }
    #four{
        width:890px;
    }
    #five{
        width:900px;
        font-size:17px;
    }
    #six{
        width:20px;
    }
    #seven{
        font-size:10px;
        margin-right:95px;
    }
    #nine{
        width:0px;
    }
    button{
        width:80px;
        height:27px;
        font-size:16px;
    }
    a:link{
        text-decoration:underline;
        color:white;
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
   body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat: repeat;
    }
    h2{
        font-size:27px;
    }
    p{
        font-size:15px;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:40px;
    }
    #two{
        width:1000px;
    }
    #three{
        width:320px;
        height:210px;
    }
    #four{
        width:800px;
        font-size:20px;
    }
    #five{
        width:800px;
        font-size:19px;
    }
    #six{
        width:25px;
    }
    #seven{
        font-size:10px;
        margin-right:130px;
    }
    #eight{
        width:900px;
        font-size:20px;
    }
    #nine{
        width:0px;
    }
    button{
        width:80px;
        height:27px;
        font-size:16px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    p{
        font-size:13px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:35px;
    }
    #two{
        width:1000px;
    }
    #three{
        width:320px;
        height:200px;
    }
    #four{
        width:790px;
        font-size:18px;
    }
    #five{
        width:870px;
        font-size:18px;
    }
    #six{
        width:25px;
    }
    #seven{
        font-size:10px;
        margin-right:134px;
    }
    #eight{
        width:850px;
        font-size:18px;
    }
    button{
        width:80px;
        height:27px;
        font-size:16px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
        font-size:32px;
    }
    p{
        font-size:15px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:45px
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
        font-size:20px;
    }
    #five{
        width:900px;
        font-size:20px;
    }
    #six{
        width:25px;
    }
    #seven{
        font-size:10px;
        margin-right:134px;
    }
    #eight{
        width:850px;
        font-size:23px;
    }
    button{
        width:80px;
        height:27px;
        font-size:16px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
        font-size:30px;
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:40px;
    }
    #two{
        width:1000px;
    }
    #three{
        width:400px;
        height:270px;
    }
    #four{
        width:820px;
        font-size:20px;
    }
    #five{
        width:1070px;
        font-size:20px;
    }
    #six{
        width:25px;
    }
    #seven{
        font-size:10px;
        margin-right:150px;
    }
    #eight{
        width:850px;
        font-size:20px;
    }
    button{
        width:100px;
        height:30px;
        font-size:22px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png); 
        background-repeat: repeat;
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
      font-size:45px;  
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:60px;
    }
    #two{
        width:1300px;
        font-size:30px;
    }
    #three{
        width:480px;
        height:290px;
    }
    #four{
        width:1190px;
        font-size:26px;
    }
    #five{
        width:1200px;
        font-size:25px;
    }
    #six{
        width:35px;
        font-size:;
    }
    #seven{
        margin-right:250px;
        width:1100px;
    }
    #eight{
        width:1200px;
        font-size:26px;
    }
    button{
        width:200px;
        height:auto;
        font-size:27px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);  
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
      font-size:42px;  
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:60px;
    }
    #two{
        width:1600px;
        font-size:28px;
    }
    #three{
        width:400px;
        height:250px;
    }
    #four{
        width:1290px;
        font-size:28px;
    }
    #five{
        width:1370px;
        font-size:28px;
    }
    #six{
        width:35px;
        font-size:;
    }
    #seven{
        margin-right:310px;
        width:1000px;
    }
    #eight{
        width:1400px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    button{
        width:200px;
        height:auto;
        font-size:27px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
      font-size:48px;  
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:60px;
    }
    #two{
        width:1600px;
        font-size:26px;
    }
    #three{
        width:500px;
        height:320px;
    }
    #four{
        width:1290px;
        font-size:30px;
    }
    #five{
        width:1570px;
        font-size:30px;
    }
    #six{
        width:35px;
        font-size:;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    button{
        width:200px;
        height:auto;
        font-size:27px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    h2{
      font-size:50px;  
    }
    #one{
        color:yellow;
        font-family:Verdana;
        font-size:60px;
    }
    #two{
        width:1600px;
        font-size:30px;
    }
    #three{
        width:600px;
        height:360px;
    }
    #four{
        width:1290px;
        font-size:30px;
    }
    #five{
        width:1570px;
        font-size:30px;
    }
    #six{
        width:35px;
        font-size:;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    button{
        width:200px;
        height:auto;
        font-size:27px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        height:10px;
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:430px;
        height:280px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:5001px) and (max-device-width:5000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png);
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    }
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}

@media screen and (min-device-width:5501px) and (max-device-width:6000px) {
    table{width:90%}
    body{
        font-family:arial;
        color:white;
        background: url(MainBlur.png); 
        background-repeat: repeat;
    }
     table{
        margin-left:auto;
        margin-right:auto;
    }
    #one{
        color:yellow;
        font-family:Verdana;
    }
    #two{
        width:1000px;
    }
    #three{
        width:330px;
        height:200px;
    }
    #four{
        width:690px;
    }
    #five{
        width:1270px;
    }
    #six{
        width:20px;
    } 
    #seven{
        margin-right:410px;
        width:1500px;
    }
    #eight{
        width:1500px;
        font-size:30px;
    }
    #nine{
        width:0px;
    }
    a:link{
        text-decoration:underline;
        color:white
    }
    a:active{
        text-decoration:none;
        color:gainsboro;
    }
    a:visited{
        text-decoration:none;
        color:blue;
    }
}