@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
    body{
    background-image:url(redsquare.jpg);
    background-size:100%;
    background-repeat:repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:22px;
}
#one{
    width:230px;
}
#two{
    width:280px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:80px;   
    }
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
    body{
    background-image:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
}
#one{
    width:150px;
}
#two{
    width:180px;
}
#three{
    width:300px;
    }
#four{
    width:75px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:20px;
    }
#one{
    width:130px;
}
#two{
    width:220px;
}
#three{
    width:300px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#one{
    width:150px;
}
#two{
    width:180px;
}
#three{
    width:300px;
}
#four{
    width:70px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:70px;   
    }
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:40px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:22px;
}
#one{
    width:180px;
}
#two{
    width:180px;
}
#three{
    width:330px;
}
#four{
    width:75px;   
    }
#five{
    width:1000px; 
    }
#six{
     width:75px;   
    }
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg);
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
#one{
    width:200px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
#four{
    width:80px;   
    }
#five{
    width:1290px; 
    }
#six{
     width:80px;   
    }
    }

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
body{
    background-image:url(redsquare.jpg);
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
}
#one{
    width:200px;
}
#three{
    width:360px;
}
#four{
    width:85px;   
    }
#five{
    width:1280px; 
    }
#six{
     width:85px;   
    }
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background-image:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:70px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:29.99px;
}
#one{
    width:280px;
}
#two{
    width:280px;
}
#four{
    width:90px;   
    }
#five{
    width:1450px; 
    }
#six{
     width:90px;   
    }
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background-image:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:70px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:29.99px;
}
#one{
    width:280px;
}
#two{
    width:280px;
}
#three{
    width:560px;
}
#four{
    width:100px;   
    }
#five{
    width:1600px; 
    }
#six{
     width:100px;   
    }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background-image:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:70px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:29.99px;
}
#one{
    width:280px;
}
#two{
    width:280px;
}
#three{
    width:560px;
}
#four{
    width:120px;   
    }
#five{
    width:1800px; 
    }
#six{
     width:120px;   
    }
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0px;
    font-size:30px;
}
#one{
    width:330px;
}
#two{
    width:400px;
}
#three{
    width:660px;
}
#four{
    width:150px;   
    }
#five{
    width:2000px; 
    }
#six{
     width:150px;   
    }
    }

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg)
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
#four{
    width:100px;   
    }
#five{
    width:1000px; 
    }
    }

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
    body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:100px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
}
#one{
    width:130px;
}
#two{
    width:180px;
}
#three{
    width:360px;
}
    }

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:160px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:80px;
}
#one{
    width:730px;
}
#two{
    width:180px;
}
#three{
    width:1400px;
}
    }

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
body{
    background:url(redsquare.jpg);
    background-size:100%;
    background-repeat: repeat;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:190px;
    }
table{
    margin-left:auto;
    margin-right:auto;
    width:0;
    font-size:80px;
}
#one{
    width:750px;
}
#two{
    width:400px;
}
#three{
    width:1400px;
}
#four{
    width:300px;   
    }
#five{
    width:4400px; 
    }
#six{
     width:300px;   
    }
    }